name: Benchmark

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.org'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.lisp }} on ${{ matrix.os }} with duckdb ${{ matrix.duckdb }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        lisp: [sbcl-bin, ccl-bin/1.13, ecl/24.5.10]
        os: [ubuntu-latest]
        duckdb: [1.0.0, 1.1.3, 1.2.2, 1.3.2, 1.4.0, nightly]
    env:
      LISP: ${{ matrix.lisp }}
      DUCKDB_VERSION: ${{ matrix.duckdb }}
    steps:
      - uses: actions/checkout@v5

      - name: Install DuckDB
        shell: bash
        run: |
          if [ ${{ matrix.duckdb }} = 'nightly' ]; then aria2c "https://artifacts.duckdb.org/latest/duckdb-binaries-linux-amd64.zip" && unzip duckdb-binaries-linux-amd64.zip -d .; else aria2c "https://github.com/duckdb/duckdb/releases/download/v${DUCKDB_VERSION}/libduckdb-linux-amd64.zip"; fi
          unzip libduckdb-linux-amd64.zip -d .

      - name: Setup Lisp
        uses: 40ants/setup-lisp@v4
        with:
          cache: true

      - name: Run benchmarks
        shell: bash
        run: |
          export LD_LIBRARY_PATH=./
          export CL_DUCKDB_USE_SFFI=t
          export CL_DUCKDB_LIBRARY_PATH="${{ github.workspace }}"
          ros --eval '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)' --eval '(uiop:quit)'
          ros run --eval '(progn (ql:quickload :duckdb/benchmark) (asdf:test-system :duckdb/benchmark) (quit))'
